:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --darkred: #c21728;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --darkgreen: #04661b;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --primary: #317AB9;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --extdark: #222222;
    --kdbdark: #3b3b3b;
    --bgdark: #1e1e1e;
}

.light-theme {
    /* for header */
    --hbg: var(--blue);
    --hfontcolor: var(--white);

    /* for main body */
    --bg: var(--white);                 /* background color of body */
    --fontcolor: var(--extdark);        /* font color of normal body el */

    /* for kbd */
    --kbdbdr: var(--extdark);   /* kbd border */
    --kbdbg: var(--kdbdark);    /* kbd background */
    --kbdfont: var(--white);    /* kbd font color */

    /* for button */
    --btnbg: var(--primary);
    --btnfont: var(--white);
    
    /* button hover */
    --btnhvrbg: #0072e4;
    --btnactbdr: #4e4ecf;
    --btnshw: #468bd6;

    /* for typed value input */
    --inpfont: var(--dark);     /* input font */
    --inpbg: var(--white);      /* input background */
    --inpbdr: #ced4da;
    /* input focused */
    --inpfbdr: #6ca1d3;       /* border of focused input */
    --inpfshw: #4dd2d6;
    /* wrong input */
    --wginpbg: var(--red);
    --wginpfont: var(--white);

    /* highlight text */
    --hlbg: var(--yellow);
    --hlfont: black;

    /* highlight incorrect words */
    --hlincbg: var(--red);
    --hlincfont: var(--white);

    /* primary class */
    --primfont: var(--dark);
    --primbg: #ebf6f6;
    --primbdr: #72e3e7;
    --primshw: #4dd2d6;

    /* warning class */
    --warnfont: var(--red);
    --warnbg: #fff8dd;
    --warnbdr: #e9cf83;
    --warnshw: #f1d98f;

    /* switcher button */
    --switcherbg: var(--bg);
    --switcheractbdr: var(--extdark);
}

.dark-theme {
    /* for header */
    --hbg: var(--yellow);
    --hfontcolor: var(--extdark);

    /* for main body */
    --bg: var(--bgdark);         /* background color of body */
    --fontcolor: var(--white);       /* font color of normal body el */

    /* for kbd */
    --kbdbdr: #979393;   /* kbd border */
    --kbdbg: #d4cbcb;    /* kbd background */
    --kbdfont: black;    /* kbd font color */

    /* for button */
    --btnbg: var(--yellow);
    --btnfont: var(--extdark);
    /* button hover */
    --btnhvrbg: #f5bf1c;
    --btnactbdr: #e0a606;
    --btnshw: #face54;
    
    /* for typed value input */
    --inpfont: var(--light);     /* input font */
    --inpbg: var(--extdark);      /* input background */
    --inpbdr: var(--dark);
    /* input focused */
    --inpfbdr: #dbb43e;       /* border of focused input */
    --inpfshw: #f8cd4a;
    /* wrong input */
    --wginpbg: var(--darkred);
    --wginpfont: var(--white);

    /* highlighted text */
    --hlbg: var(--darkgreen);
    --hlfont: var(--white);

    /* highlight incorrect words */
    --hlincbg: var(--darkred);
    --hlincfont: var(--white);

    /* primary class */
    --primfont: var(--white);
    --primbg: #26252b;
    --primbdr: #478ddd;

    /* warning class */
    --warnfont: #f8baba;
    --warnbg: #2c2a2a;
    --warnbdr: #e7c04b;

    /* switcher button */
    --switcherbg: var(--bg);
    --switcheractbdr: var(--white);
}

* {
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7rem;
    background-color: var(--bg);
    color: var(--fontcolor);
}

header {
    background-color: var(--hbg);
    color: var(--hfontcolor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 1rem;
}


main.container {
    padding: 1rem;
    width: 80%;
    margin: auto;
}

div.section {
    margin: auto;
    max-width: 417px;
    text-align: center;
}

kbd {
    border-right: solid var(--kbdbdr) 3px;
    border-bottom: solid var(--kbdbdr) 3px;
    background-color: var(--kbdbg);
    color: var(--kbdfont);
    border-radius: 0.25rem;
    padding: 0.2rem;
    font-weight: bold;
    font-style: normal;
    vertical-align: top;
}

button.btn {
    margin: 1rem;
    background-color: var(--btnbg);
    font-size: large;
    padding: 0.4rem 0.6rem;
    border: 4px solid transparent;
    border-radius: 0.35rem;
    color: var(--btnfont);
    font-weight: bold;
    vertical-align: middle;
    transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out, border .1s ease-in;
    transition-delay: 0s, 0s, 0s;
}

button.btn:hover, button.btn:active {
    background-color: var(--btnhvrbg);
    box-shadow: 0px 0px 5px var(--btnshw);
}

button.btn:active {
    border: 4px solid var(--btnactbdr);
}

button.switcher {
    position: absolute;
    top: 2rem;
    right: 1.2rem;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: var(--switcherbg);
    transition: border-color .15s ease-in-out, background-color .15s ease-in;
}

button.switcher:active {
    border: 2px solid var(--switcheractbdr);
}

div.heading {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 550px;
}

.inp {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--inpfont);
    background-color: var(--inpbg);
    background-clip: padding-box;
    border: 1px solid var(--inpbdr);
    border-radius: 0.25rem;
    overflow: visible;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, color .02s ease-in;
    transition-property: border-color, box-shadow, color;
    transition-duration: 0.15s, 0.15s;
    transition-delay: 0s, 0s;
}

.inp:focus {
    border: 1px solid var(--inpfbdr);
    box-shadow: 0px 0px 5px var(--inpfshw);
}

#quote {
    font-family: 'Zilla Slab', serif;
    font-size: larger;
    letter-spacing: .04rem;
    line-height: 1.3;
}

.message {
    padding: 0.45rem 1.25rem;
    text-align: left;
    display: none;
    margin-bottom: 1rem;
    border: 2px solid transparent;
    border-radius: 0.35rem;
    transition: box-shadow .15s ease-in-out;
    transition-property: box-shadow;
    transition-delay: 0s, 0s;
}

.warning {
    color: var(--warnfont);
    background-color: var(--warnbg);
    border-color: var(--warnbdr);
}

.warning:hover {
    box-shadow: 0px 0px 6px var(--warnshw);
}

.primary {
    color: var(--primfont);
    background-color: var(--primbg);
    border-color: var(--primbdr);
}

.primary:hover {
    box-shadow: 0px 0px 6px var(--primshw);
}

.highlight {
    background-color: var(--hlbg);
    color: var(--hlfont);
}

.highlight-inc {
    background-color: var(--hlincbg);
    color: var(--hlincfont)
}

.wrong-inp {
    background-color: var(--wginpbg);
    color: var(--wginpfont);
}